.options{
  margin: auto;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

}

.listName{
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background: gray;
}

.listItem{
  padding: 4px 35px 4px 10px;
  position: relative;
  text-align: right;
  cursor: pointer;
  background: #e6e6e6;
  border-bottom: 1px solid gray;
}
.options ul li:last-child{
  padding-bottom: 10px;
  border: none;
}

ul {
  box-shadow: 3px 3px 2px -2px #a6a6a6;
}

.listItem::before{
  content: '';
  position: absolute;
  top: 5px;
  right: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid gray;
  border-radius: 10px;
}
.listItem::after{
  content: '';
  position: absolute;
  top: 13px;
  right: 18px;
  width: 0;
  height: 0;
  border-left: 0px solid #4caf50;
  border-bottom: 0px solid #4caf50;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.listItem:hover::before{
  content: '';
  position: absolute;
  top: 4px;
  right: 9px;
  width: 15px;
  height: 15px;
  border: 2px solid #4caf50;
  background-color: #e6e6e6;
  border-radius: 10px;
}

.listItem.active::before{
  content: '';
  position: absolute;
  top: 5px;
  right: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #4caf50;
  background-color: #e6e6e6;
  border-radius: 10px;
}
.listItem.active::after{
  content: '';
  position: absolute;
  top: 0px;
  right: 5px;
  width: 18px;
  height: 10px;
  border-left: 4px solid #4caf50;
  border-bottom: 4px solid #4caf50;
  transform: rotate(-50deg);
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
